<nav class="navbar navbar-expand-lg bg-dark shadow">
  <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand text-white fw-bold" href="#" style="font-size: 24px;">MyPortfolio</a>

      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ri-menu-line" style="font-size: 24px;"></i>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-white" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../pages/about.html">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../pages/project.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="../pages/education.html">Education</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../pages/skills.html">Skills and Certificates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="../pages/resume.html">Resume</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../pages/contactme.html">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
